.vscode
.idea
.env

/app/.idea
/app/Cargo.lock
/app/target
/app/web_layout/wasm/

/wasm_modules/renderer/.idea
/wasm_modules/renderer/Cargo.lock
/wasm_modules/renderer/target

/wasm_modules/actions_router/.idea
/wasm_modules/actions_router/Cargo.lock
/wasm_modules/actions_router/target

/wasm_modules/fe_model/.idea
/wasm_modules/fe_model/Cargo.lock
/wasm_modules/fe_model/target
