
.displacement_menu {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    flex-direction: column;
    margin-bottom: 0.5rem;
}


.hidden
{
    display: none;
}


.displacement_menu_input_fields {
    display: flex;
    align-items: center;
    align-self: start;
    box-sizing: content-box;
    flex-direction: column;
}


.displacement_menu_input_fields_list {
    list-style-type: None;
    padding: 0;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 }


input {
    width: 10rem;
}


.displacement_menu_input_fields_descriptions {
    margin-top: 0.5rem;
    margin-bottom: 0.05rem;
    margin-left: 0.2rem;
    font-size: 0.85rem;
    width: 9rem;
}


.displacement_menu_buttons {
    display: flex;
    align-items: center;
    align-self: center;
    box-sizing: content-box;
    flex-direction: row;
}


.displacement_menu_button {
    width: 4.5rem;
}


.displacement_input_field_container {
    width: 7rem;
}


.displacement_menu_input {
    width: 2rem;
}