
.force_menu {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    flex-direction: column;
    margin-bottom: 0.5rem;
}


.hidden
{
    display: none;
}


.force_menu_input_fields_container {
    display: flex;
    align-items: center;
    align-self: start;
    box-sizing: content-box;
    flex-direction: column;
}


.force_menu_input_fields_list {
    list-style-type: None;
    padding: 0;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 }


.force_menu_input_fields_descriptions {
    margin-top: 0.5rem;
    margin-bottom: 0.05rem;
    margin-left: 0.2rem;
    font-size: 0.85rem;
    width: 9rem;
}


.force_menu_buttons {
    display: flex;
    align-items: center;
    align-self: center;
    box-sizing: content-box;
    flex-direction: row;
}


.force_menu_button {
    width: 4.5rem;
}
