* {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    font: sans-serif;
}


.container {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.preprocessor {
    display: flex;
    align-items: start;
    box-sizing: content-box;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.menu {
    display: flex;
    align-items: center;
    align-self: start;
    box-sizing: content-box;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
}


.button {
    margin-right: 0.5rem;
    width: 10.0rem;
}
