
.result_view_menu {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    flex-direction: column;
    margin-bottom: 0.5rem;
}


.hidden
{
    display: none;
}


.result_view_menu_input_fields_container {
    display: flex;
    align-items: center;
    align-self: start;
    box-sizing: content-box;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.result_view_menu_input_field {
    width: 2rem;
}

.result_view_menu_buttons {
    display: flex;
    align-items: center;
    align-self: center;
    box-sizing: content-box;
    flex-direction: row;
}


.result_view_menu_button {
    width: 4.5rem;
}

.result_view_input_field_container {
    width: 8.5rem;
}
